body {
  background-color: var(--color-background-aplication);
}

header {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-header);
  height: 387px;
}

header h1 {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  margin-top: 42px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: var(--color-background-aplication);
}

header span {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  margin-top: 42px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: var(--color-text-tags);
}

header h2 {
  margin-top: 16px;
  margin-bottom: 41px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-descriptiontitle-header);
}

header button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
  border: 2px solid #ffffff;
  border-radius: 32px;
  width: 365px;
  height: 39px;
  background-color: var(--color-background-header);
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-white);
  cursor: pointer;
}

.title-jobs {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  margin-top: 45px;
  margin-bottom: 45px;
  margin-left: 22px;
}

ul {
  display: flex;
  position: absolute;
}

li {
  width: 347px;
  height: 240px;
  background-color: var(--color-white);
  border-radius: 10px;
  margin-bottom: 64px;
  margin-right: 14px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  border-radius: 50%;
}

.dev-front {
  display: flex;
  margin-top: 37px;
  align-items: center;
  justify-content: space-between;
  width: 350px;
}

.dev-location {
  margin-right: 74px;
}

.dev-location h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.dev-location h4 {
  color: var(--color-background-header);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--color-text-location);
}

h5 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: var(--color-text-location);
  padding: 16px;
}

.but-ft-remote {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  padding: 15px;
  border: none;
}

.but-ft-remote button {
  color: var(--color-text-tags);
  border: none;
}

section {
  margin-bottom: 325px;
}

@media(min-width:320px){
  
  header{
    max-width: 100%;
    padding: 20px;
  }
}

@media (min-width: 900px) {
  ul {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    margin-top: 40px;
  }

  section{
    margin-bottom: 670px;
  }
}
